<p id="notice"><%= notice %></p>

<p>
  <b>Fid:</b>
  <%= @user.fid %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Share sid:</b>
  <%= @user.share_sid %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
