<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @schedule.user %>
</p>

<p>
  <b>Schedule name:</b>
  <%= @schedule.schedule_name %>
</p>

<p>
  <b>Content:</b>
  <%= @schedule.content %>
</p>


<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
